/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;400;700&display=swap");

 html,
 body, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif !important;
 }

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
